@import url('https://fonts.googleapis.com/css2?family=Edu+NSW+ACT+Cursive:wght@400..700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Karla:ital,wght@0,200..800;1,200..800&display=swap');

.containerR {
    display: flex;
    justify-content: center;
    align-items: center; 
}

.text-center {
    text-align: center;
}

.text-center h1{
    font-family: 'Edu NSW ACT Cursive', cursive;
    font-size: 4rem;
    font-weight: 700;
    color: #D6A99D;
    margin-bottom: 2rem;
}

.text-center h3{
    font-family: 'Karla', sans-serif;
    font-size: 1.5rem;
    width: 80%;
    margin: 0 auto;
    color: #918a88;
}

.text-center p{
    font-family: 'Karla', sans-serif;
    font-size: 1rem;
    width: 80%;
    margin: 10px auto;
    color: #918a88;
}
.btn-flex{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 20px !important;
}

