.navbar {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 10px;
}
.button-container {
    display: flex;
    background-color: #D6A99D;
    width: 350px;
    height: 45px;
    align-items: center;
    justify-content: space-around;
    border-radius: 15px;
    
  }
  .buttton {
    outline: 0 !important;
    border: 0 !important;
    width: 40px;
    height: 40px;
    border-radius: 50%;
    background-color: transparent;
    display: flex;
    align-items: center;
    justify-content: center;
    color: #EEEFE0;
    transition: all ease-in-out 0.3s;
    cursor: pointer;
  }
  
  .buttton:hover {
    transform: translateY(-3px);
  }
  
  .icon {
    font-size: 20px;
  }